.post {
  border-radius: 10px;
  margin: 10px auto 30px;

  &-image {
    max-width: 450px;
    height: 100%;
    background-size: cover;
    background-position: center;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    min-height: 290px;
  }

  &-content {
    padding: 20px 10px;
  }

  &-comments {
    margin-top: 50px;
    max-width: 650px;
  }

  &-single-image {
    height: 300px;
    background-size: cover;
    background-position: center;
  }
}