{% extends 'base.html.twig' %}
{% block body %}
    <div class="container my-5 py-5">
        Attention, développeuse ! Il y a un problème : le template que tu tentes de définir "{{ template }}" n'existe pas !
    </div>
{% endblock %}