<aside>
    <section class="aside-socialmedia py-4">
        <a href="https://www.linkedin.com/in/morgane-rebindaine-20b645160/">
            <i class="fab fa-linkedin"></i>
        </a>
        <a href="https://github.com/morganeREBINDAINE">
            <i class="fab fa-github-square"></i>
        </a>
    </section>
    <section class="aside-presentation container py-5">
        <div class="aside-presentation-photo"></div>
        <span class="mt-2 name text-primary">Rebindaine Morgane</span>
        <span class="description">« La développeuse qu'il vous faut ! »</span>
        <div class="text-center my-3">
            <a href="doc/cv.pdf" class="btn btn-warning">Voir mon CV</a>
            <a href="" class="btn btn-primary" data-toggle="modal" data-target="#contact">Me contacter</a>
        </div>
        {% if session.flashbag.success %}
            <div class="alert alert-success">
                {{session.flashbag.success}}
            </div>
        {% endif %}
        {% if session.flashbag.error %}
            <div class="alert alert-danger">
                {{session.flashbag.error}}
            </div>
        {% endif %}
        <div class="modal fade" id="contact">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Me joindre par mail</h5>
                        <button type="button" class="close" data-dismiss="modal">
                            <span>&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form class="mb-5 authentication" method="post">
                            <div class="form-group">
                                <label for="name">Nom complet:</label>
                                <input class="form-control" type="text" id="name" name="name">
                            </div>
                            <div class="form-group">
                                <label for="email">Email:</label>
                                <input class="form-control" type="text" id="email" name="email">
                            </div>
                            <div class="form-group">
                                <label for="message">Message:</label>
                                <textarea class="form-control" name="message" id="message"></textarea>
                            </div>
                            <button class="btn btn-dark" type="submit">Envoyer</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

</aside>