<aside>
    <section class="aside-socialmedia py-4">
        <a href="">
            <i class="text-info fab fa-facebook"></i>
        </a>
        <a href="">
            <i class="text-info fab fa-youtube"></i>
        </a>
    </section>
    <section class="aside-presentation container py-5">
        <div class="aside-presentation-photo"></div>
        <span class="name text-muted">Rebindaine Morgane</span>
        <span class="description">« La développeuse qu'il vous faut ! »</span>
        <div class="text-center my-3">
            <a href="" class="btn btn-primary">Me contacter</a>
        </div>
    </section>

</aside>