<aside>
    <section class="aside-socialmedia py-4">
        <a href="https://www.linkedin.com/in/morgane-rebindaine-20b645160/">
            <i class="fab fa-linkedin"></i>
        </a>
        <a href="https://github.com/morganeREBINDAINE">
            <i class="fab fa-github-square"></i>
        </a>
    </section>
    <section class="aside-presentation container py-5">
        <div class="aside-presentation-photo"></div>
        <span class="mt-2 name text-primary">Rebindaine Morgane</span>
        <span class="description">« La développeuse qu'il vous faut ! »</span>
        <div class="text-center my-3">
            <a href="" class="btn btn-primary">Me contacter</a>
        </div>
    </section>

</aside>