<main class="pt-5">
    <h1>Bienvenue sur le blog de Rebindaine Morgane</h1>
    <h2 class="h4">Pour le projet 5 du parcours développeuse Symfony d'OpenClassrooms</h2>
    <p class="mt-5">Vous pouvez consulter la liste des articles en cliquant sur le lien situé dans le menu.</p>
    <p>Il est possible de s'inscrire afin de devenir contributeur au blog : si votre candidature est acceptée, vous aurez alors la possibilité de rédiger des articles. Ils s'afficheront alors dans mon espace personnel et je déciderai ou non de les publier.</p>
    <p class="mt-5">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam asperiores culpa dolor eius facilis fugit harum inventore maiores, optio possimus quam rem reprehenderit tempora vel vitae. Aliquam ipsam nobis qui.
    </p>
    <p class="mt-5">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam asperiores culpa dolor eius facilis fugit harum inventore maiores, optio possimus quam rem reprehenderit tempora vel vitae. Aliquam ipsam nobis qui.
    </p>
    <div class="main-content"></div>
</main>