{% extends 'layouts/full-width.html.twig' %}
{% block content %}
    <h1 class="mb-5">Page de connexion</h1>
    {% if session.flashbag.error is defined %}
        <div class="alert alert-danger">{{ session.flashbag.error }}</div>
    {% endif %}
    <form class="mb-5" action="/connexion" method="post">
        <div class="form-group">
            <label for="username">Pseudo:</label>
            <input class="form-control" type="text" name="username">
        </div>
        <div class="form-group">
            <label for="password">Mot de passe:</label>
            <input class="form-control" type="password" name="password">
        </div>
        <button class="btn btn-primary" type="submit">Se connecter</button>
    </form>
    <p>Vous souhaitez rejoindre les rédacteurs ? <a href="/inscription">Cliquez ici !</a></p>
{% endblock %}