<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Rebindaine Morgane - Projet 5 OCR{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/journal/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="{{ css('all') }}">
</head>
<body class="{% block bodyClass %}{% endblock %}">
<header>
    <nav class="navbar fixed-top navbar-expand-md navbar-light bg-primary px-5">
        <div class="container">
            <div class="navbar-brand-container">
                <a class="navbar-brand" href="">
                    <img src="{{ img('logo.png') }}" alt="">
                </a>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            Accueil
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            Articles
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-warning nav-link" href="#">
                            Connexion
                        </a>
                    </li>
                </ul>
            </div>
        </div>

    </nav>
</header>
{% block body %}{% endblock %}
<footer class="bg-secondary py-4">
    <div class="container">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias, animi asperiores corporis, cum deserunt dolores facere fugit impedit ipsam laboriosam nesciunt, obcaecati odio officia quam
            reprehenderit repudiandae totam unde. Culpa.</p>
    </div>
</footer>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
