{% extends 'base.html.twig' %}
{% block body %}
    <div class="container my-5 py-5">
        {% if session.token is defined %}
            koukou
        {% endif %}
        NOPE
    </div>
{% endblock %}