{% extends 'layouts/full-width.html.twig' %}
{% block content %}
    <h1>Profil de {{ session.user.username }}</h1>
    <div class="row">
        <div class="col-md-3">
            <a href="/rediger-article" class="btn btn-success">Rédiger un article</a>
        </div>
        <div class="col-md-9 text-right">
            <a href="/gestion-redacteurs" class="btn btn-success">Gérer les rédacteurs</a>
            <a href="/gestion-articles" class="btn btn-success">Gérer les articles</a>
            <a href="/gestion-commentaires" class="btn btn-success">Gérer les commentaires</a>

        </div>
    </div>
    <div class="contributors-requests">
        {{  include ('back/parts/table.html.twig', {form: contributorsRequests}) }}
    </div>
    <div class="articles-requests">
        {{  include ('back/parts/table.html.twig', {form: postsRequests}) }}
    </div>
    <div class="comments-requests">
    </div>
{% endblock %}